/.idea/**
/bin/
/fact.elijah.h
/doc/
eljc*out
/out/
target
/output/
/target-/
/COMP*/
/.idea/workspace.xml
/.idea/gitlab-quickmr.xml
/.gradle
/build
/el-fluffy-jubilee.userlibraries
elijah-lang*txt
/lib/**
/buildSrc/.gradle/8.2/executionHistory/executionHistory.bin
/buildSrc/.gradle/8.2/executionHistory/executionHistory.lock
/buildSrc/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/buildSrc/.gradle/buildOutputCleanup/cache.properties
/buildSrc/.gradle/buildOutputCleanup/outputFiles.bin
/buildSrc/.gradle/noVersion/buildSrc.lock
/buildSrc/build/classes/java/main/TripleoElijahJavaConventionsPlugin.class
/buildSrc/build/groovy-dsl-plugins/output/adapter-src/TripleoElijahJavaConventionsPlugin.java
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure6.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure7.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure8.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure9.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure1.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure2.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure3$_closure10$_closure11.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure3$_closure10.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure3.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure4.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions$_run_closure5.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-classes/precompiled_TripleoElijahJavaConventions.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-requests/tripleo.elijah.java-conventions/cp_precompiled_TripleoElijahJavaConventions$_run_closure1.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-requests/tripleo.elijah.java-conventions/cp_precompiled_TripleoElijahJavaConventions.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-requests/tripleo.elijah.java-conventions/metadata.bin
/buildSrc/build/groovy-dsl-plugins/output/plugin-requests-staging/cp_precompiled_TripleoElijahJavaConventions$_run_closure1.class
/buildSrc/build/groovy-dsl-plugins/output/plugin-requests-staging/cp_precompiled_TripleoElijahJavaConventions.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure6.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure7.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure8.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure1$_closure9.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure1.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure2.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure3$_closure10$_closure11.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure3$_closure10.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure3.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure4.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions$_run_closure5.class
/buildSrc/build/groovy-dsl-plugins/work/classes/tripleo.elijah.java-conventions/precompiled_TripleoElijahJavaConventions.class
/buildSrc/build/groovy-dsl-plugins/work/metadata/tripleo.elijah.java-conventions/metadata.bin
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/pluginDescriptors/tripleo.elijah.java-conventions.properties
/buildSrc/build/resources/main/META-INF/gradle-plugins/tripleo.elijah.java-conventions.properties
/buildSrc/build/tmp/compileJava/previous-compilation-data.bin
/buildSrc/build/tmp/jar/MANIFEST.MF
