/.idea/workspace.xml
/.idea/gitlab-quickmr.xml
/.idea/uiDesigner.xml
/.idea/**

/bin/
/bin-test/
/out/
/output/
*/bin/**
*/build/**
*/target/**

/.gradle
/buildSrc/**

/doc/

#######/COMP*/
/target/**
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/elevated-potential.iml
